* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100vh;
  background-color: lightgrey;
}

h1 {
  color: black;
  margin-bottom: 75px;
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  color: rgb(22, 21, 30);
}

#container {
  display: flex;
  justify-content: center;
}

.grid-rows{
  border: 1px solid black;
}

.grid-column {
  border: 1px solid black;
  min-height: 30px;
  min-width: 30px;
}