* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100vh;
  background-color: grey;
}

h1 {
  color: black;
  margin-bottom: 40px;
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  color: rgb(22, 21, 30);
}

.btn-container {
  width: 100%;
  text-align: center;
}

#resize {
  margin-bottom: 20px;
  padding: 8px 20px;
  font-size: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: whitesmoke;
  border-radius: .3rem;
}

#resize:active {
  transform: translate(0px, 1px);
  box-shadow: 0px 1px 0px 0px;
}

#resize:hover {
  background-color: lightgrey;
  transform: scale(1.1) perspective(10px);
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-container {
  display: flex;
  box-shadow: 1px 1px 10px 1px;
  width: 480px;
  height: 480px;
}

.sketch-columns{
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  height: 480px;
  width: 480px;
  flex-direction: column;
}

.cells {
  flex: 1;
}