* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100vh;
  background-color: #18191A;
}

h1 {
  color: lightgrey;
}

.container {
  display: flex;
}

.grid-rows,
.grid-column {
  border: 1px solid white;
  min-height: 20px;
}